<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml1-strict-thymeleaf-4" xmlns:th="http://www.thymeleaf.org" lang="en"
      th:fragment="main (title, content)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Title...</title>
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/sortablejs/Sortable.min.js}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
          rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css"/>
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
    <script>
        function makeSortable(content) {
            var sortables = content.querySelectorAll(".sortable");
            for (var i = 0; i < sortables.length; i++) {
              var sortable = sortables[i];
              sort = new Sortable(sortable, {
                  animation: 150,
                  ghostClass: 'blue-background-class'
              });
            }
        };
        htmx.onLoad(makeSortable);
    </script>
</head>
<body class="p-4">
<div th:replace="${content}">
</div>
</body>
</html>
