<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml1-strict-thymeleaf-4" xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{ baseTemplate :: main(~{::title},~{::form}) }">
<head>
    <title>Rules</title>
</head>
<body>
<form id="content">
    <h1>Edit rules</h1>
    <input class="bg-sky-500 p-1 px-2 m-1 rounded shadow disabled:opacity-75"
           th:hx-get="@{'/new'}" hx-push-url="true" hx-target="body" hx-select="#content"
           type="submit" th:value="#{rules.new}"/>
    <div class="float-right">
        <span id="save-indicator" class="htmx-indicator">Saving...</span>
        <input id="saveOrder" class="bg-sky-500 p-1 px-2 m-1 rounded shadow disabled:opacity-50"
               hx-post="/priority" hx-target="#rules" hx-swap="outerHTML" hx-indicator="#save-indicator"
               type="submit" disabled th:value="#{rules.save}"/>


    </div>
    <div id="rules" class="clear-right space-y-1" th:fragment="rules">
        <div th:each="rule : ${rules}" class="block w-full bg-white shadow rounded p-4 border border-gray">
            <span th:text="${rule.priority+1}+'.'"></span>
            <input type="hidden" name="id" th:value="${rule.id}"></input>
            <span th:text="${rule.name}"></span>
            <input class="editBtn float-right bg-sky-500 px-4 py-1 border rounded-full disabled:opacity-50"
                   th:hx-get="@{'/rule/'+${rule.id}}" hx-push-url="true" hx-target="body" hx-select="#content"
                   type="submit" value="..."/>
        </div>
        <script>
            htmx.find('#saveOrder').disabled=true;
            function onSortChange() {
                htmx.find('#saveOrder').disabled=false;
                htmx.findAll('.editBtn').forEach((b)=>b.disabled=true);
            }
            sort = new Sortable(htmx.find('#rules'), {
                animation: 150,
                ghostClass: 'bg-blue-500',
                onSort: onSortChange
            });
        </script>
    </div>
</form>
</body>
</html>