<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml1-strict-thymeleaf-4" xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{ baseTemplate :: main(~{::title}, ~{::body}) }">
<head>
    <title>Rules</title>
</head>

<body th:fragment="body">
<form id="content" th:object="${rule}">
    <h1>Edit rule</h1>

    <input class="block float-right bg-sky-500 p-1 rounded shadow disabled:opacity-75"
           type="submit" hx-post="/priority" hx-target="#rules"
           hx-on::after-request="makeSortable(htmx.find('#rules'))"
           th:value="#{rule.save}"/>
    <span class="htmx-indicator">Updating...</span>
    <div id="rules" class="sortable clear-right" th:fragment="rules">
        <div th:each="rule : ${rules}" class="block w-full bg-white shadow rounded px-3 pt-3 pb-5 border border-gray">
            <span th:text="${rule.priority+1}+'.'"></span>
            <input type="hidden" name="id" th:value="${rule.id}"></input>
            <span th:text="${rule.name}"></span>
            <input class="float-right"
                   type="submit" th:hx-get="'/rule/'+${rule.id}" hx-target="closest body" value="..."/>
        </div>
    </div>
</form>

</body>
</html>