<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml1-strict-thymeleaf-4" xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{ baseTemplate :: main(~{::title},~{::form}) }">
<head>
    <title>Rules</title>
</head>
<body>
<form id="content">
    <h1>Edit rules</h1>
    <input class="bg-sky-500 p-1 px-2 m-1 rounded shadow disabled:opacity-75"
           th:hx-get="@{'/new'}" hx-push-url="true" hx-target="body" hx-select="#content"
           type="submit" th:value="#{rules.new}"/>
    <input class="block float-right bg-sky-500 p-1 m-1 rounded shadow disabled:opacity-75"
           type="submit" hx-post="/priority" hx-target="#rules"
           th:value="#{rules.save}"/>
    <span class="htmx-indicator">Updating...</span>
    <div id="rules" class="sortable clear-right" th:fragment="rules">
        <div th:each="rule : ${rules}" class="block w-full bg-white shadow rounded px-3 pt-3 pb-5 border border-gray">
            <span th:text="${rule.priority+1}+'.'"></span>
            <input type="hidden" name="id" th:value="${rule.id}"></input>
            <span th:text="${rule.name}"></span>
            <input class="float-right"
                   th:hx-get="@{'/rule/'+${rule.id}}" hx-push-url="true" hx-target="body" hx-select="#content"
                   type="submit" value="..."/>
        </div>
        <script>makeSortable(htmx.find('#rules'));</script>
    </div>
</form>
</body>
</html>